.input-container{
  position: relative;
}
.string-ui-input{
  border: 1px solid black;
  border-radius: 10px;
  height: 38px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}
.placeholder-elements{
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 16px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: black;
  pointer-events: none;
  font-size: 16px;
  transform: translate(0);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}
.placeholder-text{
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.placeholder-buttons{
  white-space: nowrap;
  pointer-events: all;
}
.placeholder-info{
  white-space: nowrap;
  pointer-events: all;
}
.string-ui-input:focus{
  outline: none;
  border-color: #337ab7;
}
.string-ui-input:focus + .placeholder-elements, :not(.string-ui-input[value=""]) + .placeholder-elements{
  color: #337ab7;
  transform: translate(0, -20px);
}
.string-ui-input:focus > .placeholder-elements > .placeholder-text,
.string-ui-input:focus > .placeholder-elements > .placeholder-buttons,
.string-ui-input:focus > .placeholder-elements > .placeholder-info,
:not(.string-ui-input[value=""]) > .placeholder-elements > .placeholder-text,
:not(.string-ui-input[value=""]) > .placeholder-elements > .placeholder-buttons,
:not(.string-ui-input[value=""]) > .placeholder-elements > .placeholder-info{
  background-color: white !important;
}