.perks {
  padding: 10px;
}
.services .icon-box {
  margin-bottom: 20px;
}
.services .icon, .count-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
  object-fit: cover;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #149ddd;
}
.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #343a40;
}
.services .title a:hover {
  color: #149ddd;
}
.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
.perks .section-title {
  margin-bottom: 0;
  padding-bottom: 0;
}
.perks .count-box {
  padding: 30px;
  width: 100%;
}
.perks .count-box i {
  display: block;
  font-size: 44px;
  color: #149ddd;
  float: left;
  line-height: 0;
}
.perks .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}
.perks .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}
.perks .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
.perks .count-box a:hover {
  color: #1f5297;
}
