//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

#errorPage {
  position: relative;
  height: 100vh;
  background-color: #222;
}

#errorPage .errorPage {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.errorPage {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.errorPage .errorPage-code {
  height: 158px;
  line-height: 153px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.errorPage .errorPage-code h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  margin: 0;
  font-weight: 700;
  text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
}

.errorPage .errorPage-code h1>span {
  text-shadow: 2px 2px 0 #ffab00, -2px -2px 0 #ffab00, 0 0 8px #ff8700;
}

.errorPage p {
  font-family: 'Josefin Sans', sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
}

.errorPage a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.errorPage a:hover {
  color: #ffab00;
  border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
  .errorPage .errorPage-code {
    height: 122px;
    line-height: 122px;
  }

  .errorPage .errorPage-code h1 {
    font-size: 122px;
  }
}