html{scroll-behavior: smooth!important;}
* {margin: 0;}

body {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    overflow: auto !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 61, 110, 0.95);
}
