.object-ui-container{
  max-width: 90vw;
  min-width: 70vw;
}
.text-on-panel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}
.panel {
  margin-top: 27px !important;
  border: 1px solid #337ab7;
  border-radius: 8px;
}
.panel-body {
  padding-top: 30px !important;
}
.panel-action{
  opacity: 80% !important;
  cursor: pointer;
}
.panel-action:hover{
  opacity: 100% !important;
}
//noinspection CssReplaceWithShorthandSafely
.panel-content{
  margin-top: -13px !important;
  margin-right: 9px !important;
  margin-left: 9px !important;
  margin-bottom: 14px !important;
}
.panel-content > *{
  margin-top: 9px !important;
}